@use "variaveis";

.header {
  background-color: variaveis.$corDeFundo;
  padding: 20px 16px;
  border-bottom: solid 2px rgba($color: #dfdfdf, $alpha: 0.1);
  position: relative;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logotipo {
  display: flex;
  align-items: center;
  gap: 16px;

  &__text {
    color: variaveis.$corTexto;
    @include variaveis.tipo-1(24);
  }
}

.nav {
  &__list {
    display: flex;
    gap: 32px;

    &__item {
      &__link {
        @include variaveis.tipo-1(16);
        display: block;
        color: variaveis.$corTexto;
        padding: 8px 8px;
        border: solid 1px variaveis.$corSecundaria;
        border-radius: 8px;
        transition: transform 0.6s ease-out, border 0.6s ease;

        &:hover {
          transition: transform 0.6s ease, border 0.6s ease;
          color: variaveis.$corSecundaria;
          transform: translateY(-5px);
          border: solid 1px transparent;
        }
      }
    }
  }
}

#btn-menu {
  display: block;
}

@include variaveis.dispositivo(sm) {
  .nav__list {
    display: flex;
    position: absolute;
    width: calc(100% - 46px);
    top: 93px;
    left: 0;
    height: 0px;
    padding: 16px 16px 16px 30px;
    background-color: variaveis.$corDeFundo;
    gap: 12px;
    z-index: 1000;
    transition: all 0.4s ease-in;
    visibility: hidden;
    overflow-y: hidden;
  }

  #menu.active .nav__list {
    visibility: visible;
    height: 50px;
    transition: all 0.4s ease-in;
  }

  #btn-menu {
    background: none;
    padding: 16px;
  }
  .hamburguer {
    border-top: 2px solid variaveis.$corTexto;
    width: 20px;
    display: block;
  }

  .hamburguer::after,
  .hamburguer::before {
    content: "";
    width: 20px;
    height: 2px;
    display: block;
    background-color: variaveis.$corTexto;
    margin-top: 5px;
    transition: 0.7s;
    position: relative;
  }

  #menu.active .hamburguer {
    border-top-color: transparent;

    &::before {
      transform: rotate(135deg);
    }

    &::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
}
