@use "variaveis";

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 16px 140px 16px;

  &__text {
    color: variaveis.$corDeFundo;

    &__paragrafo {
      @include variaveis.tipo-2(52);
      margin-bottom: 20px;
      border-right: 3px solid;
      display: inline-block;
      animation: blink 0.8s infinite;
    }

    &__title {
      @include variaveis.tipo-1(64);
      margin-bottom: 16px;
    }

    &__citacao {
      @include variaveis.tipo-2(20);
      display: inline-block;
      margin-bottom: 38px;

      a {
        color: variaveis.$corSecundaria;
        text-decoration: underline;

        &:hover {
          color: variaveis.$corPrimaria;
        }
      }
    }

    &__button {
      @include variaveis.tipo-1(24);
      padding: 12px 24px;
      background: linear-gradient(
        120deg,
        variaveis.$corSecundaria,
        variaveis.$corPrimaria
      );
      border-radius: 8px;

      a {
        color: variaveis.$corTexto;
      }

      &:hover {
        background: variaveis.$corSecundaria;
      }
    }
  }

  &__image {
    max-width: 100%;
    display: block;
    animation: move-ilustracao 2s ease-in 0s infinite alternate;
  }
}

@include variaveis.dispositivo(md) {
  .hero {
    &__image {
      img {
        display: none;
      }
    }
  }
}

@include variaveis.dispositivo(sm) {
  .hero {
    &__image {
      display: none;
    }

    &__text {
      &__title {
        @include variaveis.tipo-1(44);
      }

      &__paragrafo {
        @include variaveis.tipo-2(28);
        // padding-top: 23px;
      }

      &__button {
        @include variaveis.tipo-1(16);
      }
    }
  }
}

// Animação da Ilustração do hero
@keyframes move-ilustracao {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(20px);
  }
}

// Animação do cursor piscando
@keyframes blink {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}
