@use "variaveis";

.sobre {
  background-color: variaveis.$corDeFundo;
  color: variaveis.$corTexto;

  &__conteudo {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 100px 16px 100px 16px;
  }

  &__redes {
    display: flex;
    flex-direction: column;
    &__image {
      width: 100%;
      display: block;
      padding-bottom: 32px;
    }

    &__title {
      @include variaveis.tipo-1(24);
      color: variaveis.$corSecundaria;
      padding-bottom: 20px;
      white-space: nowrap;

      span {
        @include variaveis.tipo-1(12);
        color: variaveis.$corTexto;
      }
    }

    &__icons {
      display: flex;
      justify-content: space-around;

      &__item:nth-child(1):hover {
        transform: translateY(-5px);
        transition: transform 0.5s;
      }
      &__item:nth-child(2):hover {
        transform: translateY(-5px);
        transition: transform 0.5s;
      }
      &__item:nth-child(3):hover {
        transform: translateY(-8px);
        transition: transform 0.5s;
      }
    }
  }

  &__text {
    &__title {
      text-align: end;
      padding-bottom: 40px;
    }

    &__paragrafo {
      max-width: 50ch;
      @include variaveis.tipo-1(16);

      &:first-of-type {
        padding-bottom: 40px;
      }
    }
  }
}

@include variaveis.dispositivo(md) {
  .sobre {
    &__conteudo {
      flex-direction: column-reverse;
    }

    &__redes {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      &__image {
        max-width: 262px;
      }
    }
  }
}

@include variaveis.dispositivo(sm) {
  .sobre {
    &__conteudo {
      flex-direction: column-reverse;
    }

    &__redes {
      flex-direction: column;
      align-items: center;

      &__image {
        max-width: 262px;
      }
    }
  }
}
