// cores

$corDeFundo: #1e1e1e;
$corPrimaria: #7782f2;
$corSecundaria: #f277de;
$corTexto: #fff;
$corBotao: #7d61e7;

// tipografia

$font-1: "Poppins", sans-serif;
$font-2: "Rokkitt", arial;

@function rem($pixel, $contexto: 16) {
  @return calc($pixel / $contexto) * 1rem;
}

@mixin tipo-1($size) {
  font-family: $font-1;
  @if $size == 64 {
    font-size: rem(64);
    font-weight: 500;
  } @else if $size == 44 {
    font-size: rem(44);
    font-weight: 500;
  } @else if $size == 32 {
    font-size: rem(32);
    font-weight: 500;
  } @else if $size == 24 {
    font-size: rem(24);
    font-weight: 500;
  } @else if $size == 16 {
    font-size: rem(16);
    line-height: rem(28, 16);
  } @else if $size == 12 {
    font-size: rem(12);
    font-weight: 400;
  }
}

@mixin tipo-2($size) {
  font-family: $font-2;
  @if $size == 52 {
    font-size: rem(52);
  } @else if $size == 28 {
    font-size: rem(28);
  } @else if $size == 20 {
    font-size: rem(20);
  } @else if $size == 16 {
    font-size: rem(16);
    line-height: rem(20, 16);
  }
}

// container e media-querie
$xl-device: 1200;
$lg-device: 992;
$md-device: 758;
$sm-device: 576;

// mixin de media-querie
@mixin dispositivo($size) {
  @if $size == xl {
    @media screen and (min-width: #{$xl-device + px}) {
      @content;
    }
  } @else if $size == lg {
    @media screen and (min-width: #{$lg-device + px}) and (max-width: #{$xl-device - 1 + px}) {
      @content;
    }
  } @else if $size == md {
    @media screen and (min-width: #{$md-device + px}) and (max-width: #{$lg-device - 1 + px}) {
      @content;
    }
  } @else if $size == sm {
    @media screen and (max-width: #{$md-device - 1 + px}) {
      @content;
    }
  }
}

@mixin container {
  max-width: $xl-device + px;
  margin: 0px auto;
  @include dispositivo(lg) {
    max-width: $lg-device + px;
  }

  @include dispositivo(md) {
    max-width: $md-device + px;
  }

  @include dispositivo(sm) {
    max-width: $sm-device + px;
  }
}

.container {
  @include container;
}
