@use "reset";
@use "variaveis";
@use "header";
@use "hero";
@use "sobre";
@use "habilidade";
@use "projetos";

.title {
  @include variaveis.tipo-1(44);
  color: variaveis.$corPrimaria;

  &__span {
    color: variaveis.$corSecundaria;
    @include variaveis.tipo-1(12);
  }
}
@include variaveis.dispositivo(sm) {
  .title {
    @include variaveis.tipo-1(32);
  }
}

.card {
  background-color: #f7f7f7;
  color: variaveis.$corDeFundo;

  border-radius: 8px;
  display: inline-block;
  flex: 1 0 350px;

  &__title {
    padding: 24px;
    @include variaveis.tipo-2(28);
  }

  &__paragrafo {
    padding: 24px;
    max-width: 50ch;
  }

  &__buttons {
    padding: 16px;
    display: flex;
    justify-content: end;
    gap: 16px;

    &__item {
      @include variaveis.tipo-1(16);
      padding: 8px 20px;
      border-radius: 100px;
    }
  }
}

.btn-primary {
  background-color: variaveis.$corBotao;
  color: variaveis.$corTexto;
  border: 2px solid variaveis.$corBotao;

  &:hover {
    background-color: variaveis.$corSecundaria;
    color: variaveis.$corTexto;
    border: 2px solid transparent;
  }
}

.btn-secondary {
  border: 2px solid variaveis.$corBotao;
  color: variaveis.$corBotao;
  font-weight: 500;

  &:hover {
    background-color: variaveis.$corSecundaria;
    color: variaveis.$corTexto;
    border: 2px solid transparent;
  }
}
