@use "reset";
@use "variaveis";
@use "header";
@use "hero";
@use "sobre";
@use "habilidade";
@use "projetos";

.title {
  @include variaveis.tipo-1(44);
  color: variaveis.$corPrimaria;

  &__span {
    color: variaveis.$corSecundaria;
    @include variaveis.tipo-1(12);
  }
}
@include variaveis.dispositivo(sm) {
  .title {
    @include variaveis.tipo-1(32);
  }
}

.card {
  background-color: #f7f7f7;
  color: variaveis.$corDeFundo;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  transition: 0.35s;

  &__image {
    max-width: 100%;
    height: auto;
    display: block;
  }

  &__title {
    padding: 24px;
    @include variaveis.tipo-2(28);
  }

  &__paragrafo {
    @include variaveis.tipo-1(16);
    padding: 24px;
    max-width: 50ch;
    margin-bottom: auto;
  }

  &__buttons {
    padding: 16px;
    display: flex;
    justify-content: end;
    gap: 16px;

    &__item {
      @include variaveis.tipo-1(16);
      padding: 8px 20px;
      border-radius: 100px;
    }
  }
}

@include variaveis.dispositivo(sm) {
  .card {
    min-width: 300px;

    &__paragrafo {
      @include variaveis.tipo-1(12);
      line-height: 20px;
    }

    &__buttons {
      &__item {
        @include variaveis.tipo-1(12);
      }
    }
  }
}

.btn-primary {
  background-color: variaveis.$corBotao;
  color: variaveis.$corTexto;
  border: 2px solid variaveis.$corBotao;

  &:hover {
    background-color: variaveis.$corSecundaria;
    color: variaveis.$corTexto;
    border: 2px solid transparent;
  }
}

.btn-secondary {
  border: 2px solid variaveis.$corBotao;
  color: variaveis.$corBotao;
  font-weight: 500;

  &:hover {
    background-color: variaveis.$corSecundaria;
    color: variaveis.$corTexto;
    border: 2px solid transparent;
  }
}

.hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  transition: all 2s;
  filter: blur(0px);
  transform: translateX(0);
}

#back-to-top {
  position: fixed;
  display: none;
  background-color: variaveis.$corPrimaria;
  color: white;
  z-index: 1000;
  bottom: 20px;
  right: 30px;
  padding: 20px 27px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  @include variaveis.tipo-1(16);
}
